/* 

 /* Checkout Form Details */
 .tip-box{
  display: flex;
  justify-content: flex-end;
}

.section-two {
  padding:40px
}
.total-container{
  text-align: end;
  display: block;
}
.checkout-form-body {
    display: block;
    padding: 20px 0px 0px 0px;
   
  
  }
  .cart-section{
    border: dashed 1px gray;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
  }

  .checkout-heading{
    font-weight: bold;
    color: #B51C27;
    font-size:'26px';
  }
  
  .checkout-wrapper {
   

    width: 100%;
    display: block;
    justify-content: center;
   padding: 20px 10px;
    border: 1px solid black;
   
    border-radius: 10px;
  }
  

  .checkout-container {
   
    padding:15px;
  }
  
  h1 {
    align-self: center;
  }
  
  .checkout-form {
    width: 100%;
  }
  .checkout-form > * {
    margin-top: 20px;
  }
  .checkout-form input  {
    width: 100%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    
   
    margin-top: 5px;
    
    border-radius: 4px;
    border: black 1px solid
  }

  .textarea  {
    width: 100%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    
   
    margin-top: 15px;
    
    border-radius: 4px;
    border: black 1px solid
  }
  .checkout-form label {
  
    font-size: 16px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
  }
  .checkout-form h1 {
    font-size: 24px;
    line-height: 10px;
    color: #8e2807;
    letter-spacing: 1px;
    font-weight: bold;
  }

  
  .name {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .name div {
    width: 45%;
  }
  
  .address-info {
    display: flex;
    justify-content: space-between;
  }
  .address-info div {
    width: 30%;
  }
  
  .cc-info {
    display: flex;
    justify-content: space-between;
  }
  .cc-info div {
    width: 45%;
  }
  
  .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .btns button {
    margin: 3px 0;
    height: 30px;
    width: 40%;
    color: white;
    background-color: #40975a;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.3rem;
    letter-spacing: 2px;
  }
  .btns button:hover {
    animation-name: btn-hov;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes btn-hov {
    100% {
      background-color: #80b690;
      color: white;
      transform: scale(1.05);
    }
  }

  
  @media (max-width: 736px) {
    .btns button {

      height: 35px;
      width: 100%;
    }

    .wrapper {
      width: 100%;
    }
  
    .container {
      width: 100%;
    }
  
    .btns {
      align-items: center;
    }
    
    form h1 {
      text-align: center;
    }
  
    .name,
  .address-info,
  .cc-info {
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }
    .name div,
  .address-info div,
  .cc-info div {
    
      flex-direction: column;
      width: 100%;
      display: flex;
    }
  
  
  
   .checkout-form input {
      margin: 5px 0;
      min-height: 35px;
    }

    
  } 
  @media (max-width: 456px) {
    .tip-box{
      display: block;
    }

    .btns button {

      height: 35px;
      width: 100%;
    }
  }

  .checkout-wrapper{
    padding: 0px;
    border: none;
  }

 
  .FormRow {
    border: 1px solid grey;
    border-radius: 10px;
    height: 50px;
    
    margin-bottom: 20px;
    padding: 10px;
  }
  #loader {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 2px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  #loaderInline {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 2px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  /* Add animation to "page content" */
  
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0
    }
    to {
      bottom: 0px;
      opacity: 1
    }
  }
  
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0
    }
    to {
      bottom: 0;
      opacity: 1
    }
  }