.c-btn{
    border: none;
    background-color: #e32727;
    padding: 12px 48px 12px 24px;
    width: 50%;
    margin-top: 20px;
    border-radius: 4px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
  }

  .wrapper {
      
    text-align: center;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    
  }
  .icon:hover{
      fill: #eb5151
  }

  .box {

    width: 50%;
    padding: 0 30px 10px;
    text-align: center;
   
  }


.card-shadow:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
 transition: .3s;
}